<style xmlns:align="http://www.w3.org/1999/xhtml" xmlns:align="http://www.w3.org/1999/xhtml"
       xmlns:align="http://www.w3.org/1999/xhtml">
  .card {
    all: unset;
    border-radius: 4px;
    border: 2px solid #eee;
    background-color: lightgreen;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;

  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
    position: center;
    margin-left: 70px;
  }

  div{
    alignment: center;

  }


</style>


<h2>{{studentTitle}}</h2>

<table>
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
    <th>Address</th>
    <th>Email</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of students">
    <td>{{student.firstName}}</td>
    <td>{{student.lastName}}</td>
    <td>{{student.age}}</td>
    <td>{{student.address}}</td>
    <td>{{student.email}}</td>

  </tr>




  </tbody>

</table>
<button class="card card-small" (click)="addStudent()" *ngIf="isShowFormTeacher">Add Random Student</button>


<app-student-form></app-student-form>
